ProductReader/App_WebReferences/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://servicewfc.azurewebsites.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://servicewfc.azurewebsites.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://servicewfc.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://servicewfc.azurewebsites.net/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ProductReaderService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_VerificarPrecio_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPrecio" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarPrecio_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPrecioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MostrarCatalogo_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarCatalogo" />
  </wsdl:message>
  <wsdl:message name="IService1_MostrarCatalogo_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarCatalogoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GuardarCambios_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCambios" />
  </wsdl:message>
  <wsdl:message name="IService1_GuardarCambios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCambiosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MostrarDetalles_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarDetalles" />
  </wsdl:message>
  <wsdl:message name="IService1_MostrarDetalles_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarDetallesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GuardarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_GuardarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BajaProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_BajaProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDepartamento" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BajaDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaDepartamento" />
  </wsdl:message>
  <wsdl:message name="IService1_BajaDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductos" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EnviaModificacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaModificacion" />
  </wsdl:message>
  <wsdl:message name="IService1_EnviaModificacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaModificacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="VerificarPrecio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerificarPrecio" message="tns:IService1_VerificarPrecio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerificarPrecioResponse" message="tns:IService1_VerificarPrecio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarDepartamentos" message="tns:IService1_ListarDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarDepartamentosResponse" message="tns:IService1_ListarDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarCatalogo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MostrarCatalogo" message="tns:IService1_MostrarCatalogo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MostrarCatalogoResponse" message="tns:IService1_MostrarCatalogo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarCambios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GuardarCambios" message="tns:IService1_GuardarCambios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GuardarCambiosResponse" message="tns:IService1_GuardarCambios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarProducto" message="tns:IService1_BuscarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarProductoResponse" message="tns:IService1_BuscarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarDetalles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MostrarDetalles" message="tns:IService1_MostrarDetalles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MostrarDetallesResponse" message="tns:IService1_MostrarDetalles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GuardarProducto" message="tns:IService1_GuardarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GuardarProductoResponse" message="tns:IService1_GuardarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BajaProducto" message="tns:IService1_BajaProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BajaProductoResponse" message="tns:IService1_BajaProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarDepartamento" message="tns:IService1_AgregarDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarDepartamentoResponse" message="tns:IService1_AgregarDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BajaDepartamento" message="tns:IService1_BajaDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BajaDepartamentoResponse" message="tns:IService1_BajaDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarProductos" message="tns:IService1_ListarProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarProductosResponse" message="tns:IService1_ListarProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviaModificacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EnviaModificacion" message="tns:IService1_EnviaModificacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EnviaModificacionResponse" message="tns:IService1_EnviaModificacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarPrecio">
      <soap:operation soapAction="http://tempuri.org/IService1/VerificarPrecio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarCatalogo">
      <soap:operation soapAction="http://tempuri.org/IService1/MostrarCatalogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarCambios">
      <soap:operation soapAction="http://tempuri.org/IService1/GuardarCambios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarDetalles">
      <soap:operation soapAction="http://tempuri.org/IService1/MostrarDetalles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/GuardarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/BajaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDepartamento">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaDepartamento">
      <soap:operation soapAction="http://tempuri.org/IService1/BajaDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaModificacion">
      <soap:operation soapAction="http://tempuri.org/IService1/EnviaModificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarPrecio">
      <soap:operation soapAction="http://tempuri.org/IService1/VerificarPrecio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarCatalogo">
      <soap:operation soapAction="http://tempuri.org/IService1/MostrarCatalogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarCambios">
      <soap:operation soapAction="http://tempuri.org/IService1/GuardarCambios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarDetalles">
      <soap:operation soapAction="http://tempuri.org/IService1/MostrarDetalles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/GuardarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/BajaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDepartamento">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaDepartamento">
      <soap:operation soapAction="http://tempuri.org/IService1/BajaDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaModificacion">
      <soap:operation soapAction="http://tempuri.org/IService1/EnviaModificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://servicewfc.azurewebsites.net/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService1" binding="tns:BasicHttpsBinding_IService1">
      <soap:address location="https://servicewfc.azurewebsites.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>