ProductReader/App_WebReferences/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductReaderService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductReaderService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDepartamentos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Departamentos" nillable="true" type="tns:Departamentos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartamentos" nillable="true" type="tns:ArrayOfDepartamentos" />
  <xs:complexType name="Departamentos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Productos" nillable="true" type="tns:ArrayOfProductos" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departamentos" nillable="true" type="tns:Departamentos" />
  <xs:complexType name="ArrayOfProductos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Productos" nillable="true" type="tns:Productos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductos" nillable="true" type="tns:ArrayOfProductos" />
  <xs:complexType name="Productos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Departamentos" nillable="true" type="tns:Departamentos" />
      <xs:element minOccurs="0" name="codigo_producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fk_id_departamento" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidad_medida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url_imagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Productos" nillable="true" type="tns:Productos" />
</xs:schema>